#############
## KiCAD
#############
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses


#############
## Eagle
#############
# Ignore the board and schematic backup files
*.b#?
*.s#?

#############
## Mac
#############
*.DS_Store

#################
## AVR Development
#################
*.eep
*.elf
*.lst
*.lss
*.sym
*.d
*.o
*.srec
*.map





